@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Fira Sans:400,400italic,700);

body {
    font-size: 16px;
    font-family: 'Lato','Open Sans', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Fira Sans', 'Lato', 'Open Sans', 'Arial', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 60px;
    padding-bottom: 10px;
    font-style: italic;
}

h1 a, h1 a:hover {
    color: #3d626b;
    text-decoration: none;
}

h2 {
    color: #3d626b;
}

h3 {
  color:#fcfcfc;
  background: #3d626b;
  padding: 6px;
}

.table > thead > tr > th { 
    white-space: nowrap;
}

th {
    min-width: 150px;
}

th:first-child {
    min-width: 3px;
}

.about {
    font-size: 100%;
}

/* center the nav pills */
.centered-pills {
    text-align: center
}
.centered-pills ul.nav-pills {
    display: inline-block
}
.centered-pills li {
    display: inline
}
.centered-pills a {
    float: left
}
* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills {
    display: inline
}

.headshot {
    max-width: 50px;
}

.nowrap {
    white-space: nowrap;
}

.label-dem {
    color: #0294C7;
}

.label-rep {
    color: #D1220E;
}

.label-ind {
    color: #418B07;
}

#contactModal {
    font-size: 0.9em;
}

.filter_level label {
    padding-left: 7px;
    padding-right: 7px;
}

#results-nav span {
    padding-right: 20px;
}

.marker {
  background-image: url('images/map-marker-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

hr{
    width:86%;
    margin:0 auto;
}

li:not(:last-child) {
    margin-bottom:8px;
}