@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Fira Sans:400,400italic,700);

@font-face {
    font-family: 'Komika Title Kaps';
    src: url('/fonts/KomikaTitle-Kaps.eot');
    src: url('/fonts/KomikaTitle-Kaps.eot?#iefix') format('embedded-opentype'),
        url('/fonts/KomikaTitle-Kaps.ttf') format('truetype'),
        url('/fonts/KomikaTitle-Kaps.woff2') format('woff2'),
        url('/fonts/KomikaTitle-Kaps.woff') format('woff'),
        url('/fonts/KomikaTitle-Kaps.svg#KomikaTitle-Kaps') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 16px;
    font-family: 'Lato','Open Sans', 'Arial', sans-serif;
}

h2, h3, h4, h5 {
    font-family: 'Fira Sans', 'Lato', 'Open Sans', 'Arial', sans-serif;
    font-weight: bold;
}


h1 {
    font-size: 80px;
    padding-bottom: 10px;
    font-family: 'Komika Title Kaps', 'Fira Sans', 'Lato', 'Open Sans', 'Arial', sans-serif;
    letter-spacing: 2.5px;
    font-weight: normal;
}

h1 a, h1 a:hover {
    color: #ED7567;
    text-decoration: none;
}

h2 {
    color: #3F626B;
}

h3 {
  color:#fcfcfc;
  background: #3F626B;
  padding: 6px;
}

.table > thead > tr > th { 
    white-space: nowrap;
}


/* center the nav pills */
.centered-pills {
    text-align: center
}
.centered-pills ul.nav-pills {
    display: inline-block
}
.centered-pills li {
    display: inline
}
.centered-pills a {
    float: left
}
* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills {
    display: inline
}

.nav-pills li:first-child {
    padding-right: 20px;
}

.headshot {
    max-width: 50px;
}

.nowrap {
    white-space: nowrap;
}

.label-dem {
    color: #0294C7;
}

.label-rep {
    color: #D1220E;
}

.label-ind {
    color: #418B07;
}

#contactModal {
    font-size: 0.9em;
}

.filter_level label {
    padding-left: 7px;
    padding-right: 7px;
}

#results-nav span {
    padding-right: 20px;
}

hr{
    width:86%;
    margin:0 auto;
}

li:not(:last-child) {
    margin-bottom:8px;
}

.nav-pills {
    margin-top:10px;
    padding-right:15px;
    float: right;
}

.feature {
  text-align: center;
  background: #2A4147; 
  margin:0 auto;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.table-striped tr > *:nth-child(1) { width:60%; color: #333333; }
.table-striped tr > *:nth-child(2) { width:24%; color: #333333; }
.table-striped tr > *:nth-child(3) { width:16%; }

.table-striped tbody tr:nth-child(odd) {background: #dbdbdb}


input[type=text],
input[type=email],
textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #ED7567;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #EA4233;
}

.required {
  color: #EA4233;
}


/*.sidebar {
  width: 300px;
  overflow: hidden;
  margin-left: 20px;
  position: fixed;
  z-index: 1;
  float: right;
  overflow-x: hidden;
  margin-right: -320px;
}

.sidebar a {
  display: block;
}

.sidebar a.active {
  background-color: #ED7567;
  color: #fcfcfc;
}

.informacion {
    margin-left: 350px;
    margin-top: 0;
    padding-top: 0;
    overflow: auto;
}

@media only screen and (max-width: 800px) {
  .informacionwrapper {
    display:table; width:90%; 
    margin: 20px auto;
  }
  .informacion {
    display:table-footer-group; 
    margin: 0 auto;
  }
  .sidebar {
    display:table-header-group; 
    float: none;
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    margin-right: 0;
  }
}*/


/*
.sticky {
 .sidebar;
  position: fixed;
  top: 20px;

}

.sticky + .informacion {
  padding-top: 60px;
}*/
