body {
    font-size: 16px;
    font-family: 'Lato','Open Sans', 'Arial', sans-serif;
}

input::-moz-focus-inner { 
  border: 0; 
}

a, a:hover, a:active, a:focus {
  border: 0;
  outline: 0;
}

h2, h3, h4, h5 {
    font-family: 'Lato', 'Open Sans', 'Arial', sans-serif;
    font-weight: bold;
}


h1 {
    /*font-size: 80px;*/
    padding-bottom: 10px;
    font-family: 'Komika Title Kaps', 'Lato', 'Open Sans', 'Arial', sans-serif;
    letter-spacing: 2.5px;
    font-weight: normal;
}

h1 a, h1 a:hover {
    color: #ED7567;
    text-decoration: none;
}

h2 {
    color: #3F626B;
}

h3 {
  color:#fcfcfc;
  background: #3F626B;
  padding: 6px;
  font-weight: bold;
}

.table-responsive>.table>tbody>tr>td, .table>tbody>tr>td {
    white-space: normal;
    overflow-wrap: break-word;
    vertical-align: middle;
}

/* center the nav pills */
.centered-pills {
    text-align: center
}
.centered-pills ul.nav-pills {
    display: inline-block
}
.centered-pills li {
    display: inline
}
.centered-pills a {
    float: left
}
* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills {
    display: inline
}

.nav-pills li:first-child {
    padding-right: 20px;
}

.headshot {
    max-width: 50px;
}

.nowrap {
    white-space: nowrap;
}

#contactModal {
    font-size: 0.9em;
}

.filter_level label {
    padding-left: 7px;
    padding-right: 7px;
}

#results-nav span {
    padding-right: 20px;
}

hr{
    width:86%;
    margin:0 auto;
}

li:not(:last-child) {
    margin-bottom:8px;
}

.nav-pills {
    margin-top:10px;
    padding-right:15px;
    float: right;
}

.feature {
  text-align: center;
  background: #2A4147; 
  margin:0 auto;
}

.top-nav-buttons a:hover { text-decoration: none;}

#footer a:hover { text-decoration: none;}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#footer {
  color: #fcfcfc;
}


.table-striped tr > *:nth-child(1) { width:60%; color: #333333; }
.table-striped tr > *:nth-child(2) { width:24%; color: #333333; }
.table-striped tr > *:nth-child(3) { width:16%; }

.table-striped tbody tr:nth-child(odd) {background: #dbdbdb}


input[type=text],
input[type=email],
textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #ED7567;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #EA4233;
}

.required {
  color: #EA4233;
}

.active{
    display: block;
    color: white;
    background-color: #3F626B;
    padding: 5px;
}

.sidebar {
  width: 315px; 
  padding-top: 0; 
  top-margin: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

.well { padding-top: 0 }

.informacion {padding-left: 35px; margin-left: 0px; margin-right: 70px}


.long {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@media only screen and (max-width: 1200px) {
  .informacion {margin-left: 55px; margin-right: 10px}
}

@media only screen and (max-width: 992px) {
  .sidebar {position: relative; width: 95%; margin: 0 0 0 0; top:'';};
  .informacion {padding-left: 10px; margin-left: 10px; margin-right: 10px; padding-right: 0px;
    width: 85%; position: relative};
  .informacionwrapper {width: 100%;};
}

@media only screen and (max-width: 700px) {
  .informacion {width: 95%; margin-left: 0;};
}

@media only screen and (max-height: 675px) {
  .sidebar {position: relative; top:'';};
}

@media all and (min-width: 960px) {
h1{
    font-size: 85px;
  }
}

@media all and (max-width: 959px) and (min-width: 500px) {
h1{
    font-size: 8vw;
  }
}

@media all and (max-width: 499px) {
h1{
    font-size: 14vw;
  }
}
