<FilesMatch "\.(ico|pdf|jpg|jpeg|png|gif|html|htm|xml|txt|xsl|js|css)$">
Header set Cache-Control "max-age=3604800"
</FilesMatch>

ErrorDocument 404 /404

## Rewrite rules
<IfModule mod_rewrite.c>
    Options +FollowSymLinks -MultiViews

    RewriteEngine on
    
    RewriteBase /

    RewriteCond %{REQUEST_FILENAME} -d
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^(.*)\.html/$ /$1 [R] 
    RewriteRule ^(.*)\.html$ /$1 [L,R=302] 
    RewriteRule ^(.*)/$ /$1 [L,R] [L,QSA,R=302]

</IfModule>