<!DOCTYPE html>
<html lang='es-MX'>
  <head>
    <title>
      {% if page.title %}
        {{page.title}} -
      {% endif %}
      {{site.name}}
    </title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.description %}
      <meta content="{{ page.description }}" name='description' />
    {% else %}
      <meta content="{{ site.description }}" name='description' />
    {% endif %}
    <meta content="{{ site.name }}" name='author' />

    <!-- Load CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/custom.css">

    <!-- Load fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

    <!-- Facebook metadata -->
    <meta content="{{ site.name }}" property="og:site_name">
    {% if page.title %}
      <meta content="{{ page.title }} - {{ site.name }}" property="og:title">
    {% else %}
      <meta content="{{ site.name }}" property="og:title">
    {% endif %}
    {% if page.title %}
      <meta content="article" property="og:type">
    {% else %}
      <meta content="website" property="og:type">
    {% endif %}
    {% if page.description %}
      <meta content="{{ page.description }}" property="og:description">
    {% else %}
      <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    {% if page.url %}
      <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    {% if page.date %}
      <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    {% endif %}
    {% if page.image %}
      <meta content="{{ site.url }}/{{ page.image }}" property="og:image">
    {% else %}
      <meta content="{{ site.url }}/images/jcv-snapshot.png" property="og:image">
    {% endif %}
    {% if page.categories %}
      {% for category in page.categories limit:1 %}
      <meta content="{{ category }}" property="article:section">
      {% endfor %}
    {% endif %}
    {% if page.tags %}
      {% for tag in page.tags %}
      <meta content="{{ tag }}" property="article:tag">
      {% endfor %}
    {% endif %}

    <!-- Twitter metadata -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ site.title }}">
    <meta name="twitter:creator" content="{{ site.title }}">
    {% if page.title %}
      <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
      <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
      <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.description %}
      <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
      <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    {% if page.image %}
      <meta name="twitter:image:src" content="{{ site.url }}/images/{{ page.image }}">
    {% else %}
      <meta name="twitter:image:src" content="{{ site.url }}/images/usa.png">
    {% endif %}


      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script>
        window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')
      </script>
      <script src="lib/modernizr-2.6.2.min.js"></script>
      <script src="lib/bootstrap.min.js"></script>
      <script src="lib/jquery.dataTables.min.js"></script>
      <script src="lib/jquery.dataTables.sorting.js"></script>
      <script src="lib/jquery.address.js"></script>
      <script src="lib/dataTables.bootstrap.js"></script>
      <script src="lib/spin.min.js"></script>
      <script src="lib/jquery.spin.js"></script>
      <script src="lib/ejs_production.js"></script>

    <!-- Mapbox, etc. -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>

    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.1/mapbox-gl-geocoder.css' type='text/css' />
    <script src='//d3js.org/d3.v4.min.js'></script>
    <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.1/mapbox-gl-geocoder.min.js'></script>

    <!-- Gooogle Console -->
    <meta name="google-site-verification" content="UKjzTK_AP7qNEn8Gl-tpCeqPxlHqjkxylCEPgEyK-vM" />

    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

    <script src="js/analytics_lib.js"></script>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/site.webmanifest">
    <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#1e4b7c">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="msapplication-TileColor" content="#333333">
    <meta name="msapplication-config" content="favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>


  <body> 
    <div class='main-content'>
      <div class="container-fluid">
        <div class="feature">

          <ul class="nav nav-pills pull-right">
            <li role="presentation"><span class="top-nav-buttons">&nbsp;<a href="/">
                <i class='fa fa-home'> </i> Inicio</a></span></li>
            <li role="presentation"><span class="top-nav-buttons">&nbsp;&nbsp;<a href="informacion.html"><i class='fa fa-info-circle'> </i> Información</a></span></li>
          </ul>

          <br />
          <br />

          <div class='text-center' style="font-weight:normal">
              <h1><a href='/'>Jalisco Cómo Votamos 2018</a></h1>
              <div class="container-fluid text-center">
                <p class='lead' style="color: #E8E5DB">
                Conoce a tus candidatos en las elecciones locales, estatales y nacionales.</p>
              </div>
              <br />
          </div>
        </div>
          <br />
          {{content}}
      </div>
    </div>
    <div class='clearfix'></div>
    <div class="container-fluid">
      <div class="row" id="footer">
        <div class='col-md-10 col-md-offset-1'>
          <p class='text-center small'>
          <a href="http://jaliscocomovamos.org" >
            <img class='center' src='images/jcv.png' title='Jalisco Cómo Vamos' alt='Jalisco Cómo Vamos' /></a>
          </p><br/><br/>
        </div>
      </div>
    </div>
  </body>
</html>
